.createpost {
    border: solid black 4px;
    margin: 20px;
    padding: 10px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    /* background-color: rgb(245, 238, 226); */
}

.createpost__header {
    position: absolute;
    height: 40px;
    width: 98%;
    /* padding: 15px; */
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.createpost__header>div {
    /* border-right: solid grey 1px; */
    padding: 3px;
    /* height: 100%; */
}

.createpost__options {
    display: flex;
    margin-right: 20px;
}


/* .createpost__title {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
} */

.createpost__body {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    position: absolute;
    top: 40px;
    bottom: 0;
    overflow-y: auto;
    /* border: 4px solisd black; */
}

.DraftEditor-editorContainer,
.public-DraftEditor-content {
    height: 100%;
}

.DraftEditor-root {
    position: absolute;
    height: 100%;
}